<li class="listing" data-listing-id="<%= listing.escape("id") %>">
  <div class="pic"><img src="<%= listing.get("large_pic_url") %>"></div>
  <h3><%= listing.escape("description") %></h3>

  <p>
    Address:
    <%= listing.escape("address") %>
  </p>

  <ul>
    <% if (Airfnf.currentUser.escape("id") !== listing.escape("owner_id")) { %>
      <li>Owner: <%= listing.owner().escape("username") %></li>
    <% } %>
    <li>Room type: <%= listing.escape("room_type") %></li>
    <li>Accommodates: <%= listing.escape("accommodates") %></li>
    <li>Price: $<%= listing.escape("price") %></li>
  </ul>

  <% if (Airfnf.currentUser.escape("id") === listing.escape("owner_id")) { %>
    <section class="listing-requests"></section>
    <button class="delete">Remove Listing</button>
  <% } else { %>
    <button class="request-to-book" <%= listing.get("booked") || !Airfnf.currentUser.isSignedIn() ? "disabled": "" %>><%= listing.get("booked") ? "Unavailable": "Request to Book" %></button>
    <section class="request-new"></section>
  <% } %>
</li>
