<li class="listing">
  <%= var is_owner = Airfnf.currentUser.escape("id") === listing.escape("owner_id") %>

  <h3><%= listing.escape("location") %></h3>

  <p>
    Description:
    <%= listing.escape("description") %>
  </p>

  <ul>
    <li>Room type: <%= listing.escape("room_type") %></li>
    <li>Accommodates: <%= listing.escape("accommodates") %></li>
    <li>Price: $<%= listing.escape("price") %></li>
  </ul>

  <% if (is_owner) { %>
    <button class="delete" data-id="<%= listing.escape("id") %>">Remove Listing</button>
  <% } else { %>
    <button class="request-to-book">Request to Book</button>
    <section class="request-new"></section>
  <% } %>
</li>
